{{define "head"}}{{end}}

{{define "body"}}
    <body class="bg-gray-900 flex h-screen raleway font-thin">
        <div class="text-white m-auto">
            <h1 class="text-4xl md:text-6xl lg:text-8xl mb-5">
                {{ $.lang.Get "Welcome to" nil }} <a href="https://github.com/lucidfy/lucid" class="font-light">{{ $.lang.Get "Lucid" nil }}</a>
            </h1>

            <div class="text-center mt-5">
                <p class="my-3">{{ $.lang.Get "Running using GO HTML Template" nil }}</p>
                <a class="
                    uppercase text-xs
                    bg-transparent hover:bg-white
                    text-white hover:text-gray-700
                    font-light
                    py-2 px-4
                    border border-white-500 hover:border
                    rounded" href="/users">{{ $.lang.Get "Sample Forms" nil }}</a>
            </div>
        </div>
    </body>
{{end}}
