{{/* OTHER WAY */}}
{{/* {{ define "component" }} */}}
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {{ range $idx, $record := $.records.Items }}
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-10 w-10">
                    <img class="h-10 w-10 rounded-full" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" alt="">
                  </div>
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">{{ $record.Name }}</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-500">{{ $record.Email }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                <a href="/users/{{ $record.ID }}/edit" class="text-indigo-600 hover:text-indigo-900 px-2">Edit</a>
                <form class="px-2 inline-block" action="/users/{{ $record.ID }}/delete" method="POST">
                  {{ $.csrfField }}
                  <button class="text-red-600 hover:text-red-900">Delete</button>
                </form>
              </td>
            </tr>
            {{ end }}

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{/* {{ end }} */}}
