{{define "head"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{end}}

{{define "body"}}
    <body class="bg-gray-800 flex h-screen mt-auto">
        <div class="text-white m-auto w-4/5">
            <span class="mb-2 text-xs">
                <span class="border-dotted border-gray-400 border-b"><a href="/">Home</a></span> <i class="mx-2">&#8725;</i>
            </span>

            <div class="my-5 shadow-gray-700 shadow-lg">
                {{ $.usersTable }}

                {{/* OTHER WAY */}}
                {{/* {{ template "component" .}} */}}
            </div>

            {{ $.pagination }}
        </div>
    </body>
{{end}}
