<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>
    <body class="bg-red-600 flex h-screen">
        <div class="text-white m-auto">
            <h1 class="text-8xl mb-5">
                Welcome to <a href="https://github.com/daison12006013/gorvel" class="font-bold">Go</a>rvel!
            </h1>
            <pre class="text-center text-xs">
    ,_---~~~~~----._
    _,,_,*^____      _____``*g*\"*,
   / __/ /'     ^.  /      \ ^@q   f
  [  @f | @))    |  | @))   l  0 _/
   \`/   \~____ / __ \_____/    \
    |           _l__l_           I
    }          [______]           I
    ]            | | |            |
    ]             ~ ~             |
    |                            |
     |                           |
            </pre>
        </div>
    </body>
</html>
