{{define "head"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{end}}

{{define "body"}}
    <body class="bg-gray-900 flex h-screen mt-auto">
        <div class="text-white m-auto w-11/12 md:w-4/5">
            {{ if $.success }}
                <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
                    {{ $.success }}
                </div>
            {{ end }}

            <div class="my-5 shadow-gray-700 shadow-lg">
                {{ template "component" .}}
            </div>

            {{ $.data.Paginate.Links }}
        </div>
    </body>
{{end}}
